Checks:
  - bugprone-*
  - cert-*
  - clang-analyzer-*
  - concurrency-*
  - cppcoreguidelines-*
  - google-*
  - hicpp-*
  - linuxkernel-*
  - llvm-*
  - misc-*
  # this is excluded for now due to issues encountered with erroneous warnings (eg: "included header Python.h is not used directly" for `molaccess_python.hpp`)
  - -misc-include-cleaner
  - modernize-*
  - performance-*
  - portability-*
  - readability-*
